
.offer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  margin-bottom: 15vh;
  &-main{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    width: 100%;
    margin-bottom: 20vh;
    &-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
    }
    &-cta{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;

      h6{
        margin-top: 30px;
        font-size: 28px;
        margin-bottom: 40px;
      }

      button{
        width: fit-content;
        font-size: 20px;
        padding: 15px 15px;
        margin-left: 20px;
      }

      input{
        border-color: transparent;
        outline: none;
        border-bottom: 1px solid $accent-black;
        font-size: 24px;
        width: 60%;
      }

      &-input-wrapper{
        display: flex;
        flex-direction: row;
      }
    }

    &-mac{
      width: 40%;
      transform: translateY(0vh) translateX(4vw);
      img{
        width: 100%;
        border-radius: 5px;
      }
    }
    b{
      color: $accent-orange;
    }

    &-abs{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: 'Exo 2';
      position: absolute;
      overflow: hidden;
      letter-spacing: .01em;
      top: 11%;
      right: 13%;
      width: 74%;
      height: 70%;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  &-case{
    line-height: normal;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    transition: .3s ease-in all;
    border-radius: 15px;

    &-img{
      transition: .3s linear all;
      transform: scale(1.0);
      width: 100%;
      height: 60vh;
      border-radius: 15px;
    }

    &-main{
      background-color: rgba($accent-black, 0.7);
      border-radius: 5px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      color: white;

      &-title{
        color: white;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 10px;
      }

      &-desc{
        margin: 20px 0px;
        font-size: 24px;
        text-align: center;
      }

      &-btn{
        color: white;
        box-shadow: 0px 0px 30px $accent-orange;
        background-color: $accent-orange;
        transition: .3s all linear;
        font-size: 18px;
        height: 15%;
        &:hover{
          color: $accent-orange;
          background-color: white;
          box-shadow: 0px 0px 30px white;
        }
      }
    }
  }

  &-callback-btn{
    width: 100%;
    color: $accent-blue;
    box-shadow: 3px 3px 40px $accent-blue;
    transition: .3s all linear;
    &:hover{
      color: white;
      background-color: $accent-blue-light;
      box-shadow: 3px 3px 10px $accent-blue-light;
    }
  }
}

@media (max-width: 420px), (max-height: 400px){
  .offer{
    margin-bottom: 10vh;
    &-main{
      margin-bottom: 5vh;
      &-cta{
        &-input{
          &-wrapper{
            flex-direction: column;
            align-items: center;
            input{
              width: 100%;
              margin-bottom: 20px;
            }
          }
        }
      }
      font-size: 23px;
      &-wrapper{
        flex-direction: column;
      }
      &-mac{
        transform: translateY(0vh) translateX(4vw);
        width: 100%;
      }
    }
    &-case{
      &-main{
        padding: 0px 50px;
      }
      &-img{
        width: 100%;
        height: 40vh;
      }
    }
    &-callback-btn{
      width: 100% !important;
      margin: 0px 0px !important;
    }
  }
  .nav-icons{
    transform: translateY(17vh) !important;
  }
}

@media (max-height: 400px) {
  .offer{
    &-main{
      &-mac{
        width: 50%;
        transform: translateX(0px) translateY(0px);
      }
    }
    &-case{
      min-height: 100vh;
      &-main{

      }
    }
  }
  .nav-icons{
    transform: translateY(45vh) !important;
  }
}

@media (max-width: 1025px) {
  .offer{
    &-main{
      &-wrapper{
        flex-direction: column;
      }
    }
    &-case{
      &-main{
        &-btn{
          height: 9%;
        }
      }
    }
  }
}

.nav-icons{
  color: white;
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  transform: translateY(30vh);

  span{
    margin: 0px 20px;
    font-size: 30px;
  }
}
